/*柱状图 带横线 start*/
.barline_box {
    width: 100%;
    height: 450px;
}
#myChart {
    padding: 4% 2% 0% 2% !important;
}
/*柱状图 带横线 end*/

/*多环饼图样式 start*/
.annulus_box {
    width: 100%;
    height: 450px;
}
.annulus_title {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding-left: 3%;
    padding-top: 1%;
}
/*多环饼图样式 end*/

/*多饼图展现样式 start*/
.percent_box {
    width: 100%;
    height: 490px;
}

.title_box {
    width: 100%;
    padding: 0.5% 1% 0.5% 1%;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    font-family: "微软雅黑";
}

.percent_list {
    width: 100%;
    height: 200px;
    padding-left: 2%;
}

.piedata_box {
    width: 32%;
    height: 200px;
    float: left;
}

.pie_box {
    width: 55%;
    height: 200px;
    display: block;
    float: left;
    padding-left: 2%;
}

.pie_title {
    width: 40%;
    float: left;
    text-align: center;
    margin-top: 18%;
    margin-left: 2%;
}

.title_name {
    font-size: 13px;
    color: #333;
    font-weight: bold;
    padding-bottom: 10%;
}

.title_num {
    font-size: 16px;
    padding-bottom: 10%;
}

.title_two {
    margin-top: 10%;
}

.pie_marked {
    width: 40%;
    float: left;
    text-align: center;
    padding-top: 35%;
}

.icon_top {
    color: #009933;
    opacity: 0.8;
    filter: alpha(opacity=80); /* 针对 IE8 以及更早的版本 */
}

.icon_down {
    color: #FF6666;
    opacity: 0.8;
    filter: alpha(opacity=80); /* 针对 IE8 以及更早的版本 */
}
/*多饼图展现样式 end*/

/*底部折线图样式 start*/
.linechart_box {
    width: 100%;
    height: auto;
}

.type_box {
    width: 15%;
    height: 40px;
    float: left;
    margin-left: 13%;
}

.wenke {
    width: 20%;
    padding: 1%;
    display: block;
    float: left;
    border: 1px solid #384a56;
    text-align: center;
    font-size: 0.85rem;
    background-color: #384a56;
    color: #fff;
}

.like {
    width: 20%;
    padding: 1%;
    display: block;
    float: left;
    border: 1px solid #384a56;
    text-align: center;
    font-size: 0.85rem;
    background-color: #384a56;
    color: #fff;
    margin-left: 2%;
}

.artsscience {
    float: left;
    width: 50%;
    margin-left: 3%;
}
/*底部折线图样式 end*/
