.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.centerCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
